# ROS 2 build directories
/build/
/install/
/log/
*.jpg

# ROS 2 workspace directories
/dev_ws/build/
/dev_ws/install/
/dev_ws/log/

# Ignore VSCode configuration files
.vscode/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore node_modules directory
node_modules/

# Ignore JetBrains IDEs (IntelliJ, PyCharm, etc.)
.idea/

# Ignore macOS system files
.DS_Store

# Ignore Linux system files
*~

# Ignore other common files
*.swp
*.bak
*.tmp
*.so

# Ignore CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore package-specific files
*.log
*.bag
*.db
*.sqlite

# Ignore ROS 2 launch files logs
*.log